@model MusicSystem.Data.Entities.SongSet

<div>
    <h4 class="title">Canción</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumSet.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AlbumSet.Name)
        </dd>
    </dl>
</div>

